/* paragrafo do header, "call_inquiry"*/
header p {
    font-size: 25px !important;
    font-family: 'Dancing Script', cursive;
}

/* style login */

#form-login{
    font-size: 15px;
    border: solid 2px rgb(187, 183, 183);
    background-color: rgba(0, 0 , 0.1 , 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 15px;    
}

.pc{
    margin-left: 45%;
    max-width: 50px;
}

/* css, página "call_opening"*/
#call-opening .form-group {
    border: solid 2px rgb(187, 183, 183);
    max-width: 40rem;
    border-radius: 5px;
    margin-top: 6rem;
}

#call-opening .titulo-principal{
    font-size: 27px;
    background-color: rgb(234, 233, 233);
    color: rgb(29, 28, 28);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#call-opening .form-control{
    max-width: 90% !important;
}

#call-opening .btn{
    margin: 2rem 0 0 3.6rem;
    width: 10rem;
}

/* css, página "home"*/
.conteudo{
    margin-top: 12rem;
}

.titulo-menu{
    background-color:#F7F7F7;
    padding-left: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}

/* css, página "call_inquiry"*/
#call-inquiry .form-group {
    border: solid 2px rgb(187, 183, 183);
    max-width: 40rem;
    border-radius: 5px;
    margin-top: 6rem;
}

#call-inquiry .titulo-principal{
    font-size: 27px;
    background-color: rgb(234, 233, 233);
    color: rgb(29, 28, 28);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#call-inquiry .btn{
    margin: 2rem 0 0 5rem;
    width: 10rem;
}

#call-inquiry .form-consulta{
    border: solid 2px rgb(187, 183, 183);
    background-color: rgb(234, 233, 233);
    border-radius: 5px;
    max-width: 30rem;
}

#call-inquiry .titulo-chamado{
    font-weight: bolder;
    font-size: 20px;
}

#call-inquiry .categoria{
    font-weight: bolder;
    color: rgb(100, 97, 97);
}

